<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Web calculator">
    <test name="Regression">
        <classes>
            <class name="calculator.tests.CalculatorTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->